body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #2c3e50;
    color: white;
    text-align: center;
    padding: 30px;
}

img {
    width: 150px;
    margin: 20px 0;
}

.controles {
    margin-top: 20px;
}

select, button {
    padding: 10px;
    font-size: 16px;
    margin: 5px;
    cursor: pointer;
}